---
# References:
# - <https://clang.llvm.org/extra/clang-tidy/>.
# - <https://clang.llvm.org/extra/clang-tidy/checks/list.html>.
# - <https://github.com/llvm/llvm-project/blob/main/.clang-tidy>.
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-trailing-return-type,
WarningsAsErrors: true
HeaderFilterRegex: ""
ExcludeHeaderFilterRegex: ""
FormatStyle: none
CheckOptions: {}
SystemHeaders: false
---
