---
Checks: "clang-diagnostic-*,clang-analyzer-*,bugprone-*,cppcoreguidelines-*"
WarningsAsErrors: true
HeaderFilterRegex: ""
ExcludeHeaderFilterRegex: ""
FormatStyle: none
CheckOptions: {}
SystemHeaders: false
---
